@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-saira: var(--font-saira);
  --font-saira-condensed: var(--font-saira-condensed);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: var(--font-saira), sans-serif;
}
